.login-block {
    /* background: #de6262; */
    /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262); */
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to bottom, #FFB88C, #DE6262); */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* float: left;
    width: 100%;
    height: 100%;
    box-sizing: unset; */
    background-color: transparent;
  }
  .my-card {
    background-color: white;
  }
  .logo {
    width: 100px;
    height: 100px;
  }
  .my-text {
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: white !important;
    border-radius: 0;
    transition: none;
  }
  .my-text:focus {
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: none;
  }
  .btn-login {
    width: 100%;
  }
  