<div class="login-block">
  <!-- Header -->
  <div class="header py-6 py-lg-5 pt-lg-9">
    <div class="container">
      <div class="header-body text-center mb-7">
        <div class="row justify-content-center">
          <div class="col-xl-5 col-lg-6 col-md-8 px-5">
            <!-- <h1 class="text-white">Welcome!</h1> -->
            <!-- <p class="text-lead text-white">Admin Panel Login.</p> -->
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
          xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div> -->
  </div>
  <!-- Page content -->
  <div class="container mt--8 pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-7">
        <div class="card bg-secondary border-0 mb-0">
          <div class="card-body px-lg-5 rounded shadow my-card py-lg-5">
            <div class="text-center text-muted mb-5">
              <h2>Forget Password</h2>
            </div>
            <form
              role="form"
              [formGroup]="signinForm"
              method="POST"
              (ngSubmit)="authenticate1()"
            >
              <div class="form-group mb-3 mt-5">
                <input
                  class="form-control my-text"
                  autocomplete="false"
                  placeholder="Mobile Number"
                  formControlName="email"
                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                  type="text"
                />
                <div
                  *ngIf="submitted && f.email.errors"
                  class="invalid-feedback order-last"
                >
                  <div *ngIf="f.email.errors.required">
                    Please enter email address
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <input
                    type="text"
                    class="form-control my-text"
                    placeholder="Password"
                    formControlName="password"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                  />
                  <div class="input-group-append">
                    <span
                      class="input-group-text my-text"
                      (click)="togglePasswordView()"
                      style="color: #96e1ff"
                    >
                      Send
                    </span>
                  </div>
                  <div
                    *ngIf="submitted && f.password.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.password.errors.required">
                      Please enter password
                    </div>
                    <div *ngIf="f.password.errors.minlength">
                      Password must be at 8 to 16 characters in length
                    </div>
                    <div *ngIf="f.password.errors.pattern">
                      The password should have minimum 6 characters with at
                      least 1 capital letter, 1 lower case letter, 1 special
                      character and 1 number
                    </div>
                  </div>
                </div>
              </div>

              <div class="text-center">
                <img
                  *ngIf="loader"
                  style="width: 50px; height: 50px"
                  src="../../../../assets/img/ripple.gif"
                />
                <div class="row mt-3">
                  <!-- <div class="col-6 text-right">
              <a href="#" class="text-light"><small>Create new account</small></a>
            </div> -->
                </div>
                <button
                  type="submit"
                  class="btn btn-primary btn-login my-4"
                  style="margin-bottom: 10px !important"
                  (click)="forgetpassword()"
                >
                  Next
                </button>
                <button
                  type="submit"
                  (click)="Back()"
                  class="btn btn-outline-dark btn-login"
                >
                  Back
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
